extends ../shared/layout
block main-content
    form(action="/tweet/create" method="post")
        label(for="message") Message
        br
        textarea#message(type="text" name="message")
        br
        input(type="submit" value="Tweet")
